@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto&display=swap&family=Noto+Sans+JP:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
@import './_bases/reset';
@import 
    './_abstracts/mixins',
    './_abstracts/variables';
@import 
    './_layouts/card',
    './_layouts/footer',
    './_layouts/navbar';
@import 
    './_components/button',
    './_components/form'; 

body {
    height: 100vh;
    background-color: $white;
    font-family: 'Source Sans Pro', sans-serif;
    color: $white;
    line-height: 2;
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $white;
}

h1 {
    flex: 1 0 40%;
    font-size: 1.1em;
    line-height: 1.2;
    &.react-color {
        color: $react-font;
    }
}

@media screen and (max-width: 415px) {
    h1 {
        font-size: .8em;
    }
}

p {
    margin: 10px 0;
}

.showcase {
    height: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 1.3rem 4rem;
}

@media screen and (max-width: 500px) {
    .container {
        width: 100%;
        padding: 1rem 2rem;
    }
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.framework {
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    margin-right: 1rem;
}

.framework p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    color : $vanilla;
    -webkit-text-stroke: 2px rgb(17, 17, 17);
}

.framework p:hover {
    color: $black;
    transition: .2s ease-in-out;
}

@media screen and (min-width: 758px) {
    .framework {
        bottom: 3rem;
        right: 2rem;
    }
    .framework p {
        font-size: 10rem;
        -webkit-text-stroke: .2rem rgb(17, 17, 17);
    }
}

@media screen and (max-width: 758px) {
    .framework {
        bottom: 4rem;
        right: 2rem;
    }
    .framework p {
        font-size: 10rem;
        -webkit-text-stroke: .2rem rgb(17, 17, 17);
    }
}
