.navbar {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: $white;
    height: 110px;
    ul {
        display: flex;
        margin-left: 4rem;
    }
    a {
        font-size: 1rem;
        color: $white;
        padding: 10px;
        margin: 0 10px;
        &:hover {
            color: $black;
            border-bottom: 2px #273849 solid;
            transition: .4s;
        }
    }
    .flex {
        justify-content: space-between;
    }
    &.navbar__background--vanilla{
        background: black;
    }
    &.navbar--vue {
        background: $vue;
    }
    &.navbar--react {
        background: $react;
    }
} 

@media screen and (max-width: 550px) {
    .navbar {
        height: 100px;
        margin: 0;
        ul {
            margin: 0;
        }
    }
}



.navbar__inner {
    margin: 1rem auto;
}



