.navbar {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    color: $white;
    height: 110px;
    ul {
        display: flex;
        margin-left: 4rem;
    }
    a {
        font-size: 1rem;
        font-weight: 600;
        color: $white;
        padding: 10px;
        margin: 0 10px;
        &:hover {
            color: $black;
            border-bottom: 2px #273849 solid;
            transition: .4s;
        }
    }
    .flex {
        justify-content: space-between;
    }
    &.navbar__background--vanilla{
        background: black;
    }
    &.navbar__background--react{
        background: $react;
    }
} 

@media screen and (max-width: 550px) {
    .navbar {
        height: 100px;
        margin: 0;
        ul {
            margin: 0;
        }
    }
}

.navbar--vue {
    background: $vue;
}

.navbar__inner {
    margin: 1rem auto;
}

.navbar__link--vanilla a:hover {
    color: $vanilla;
    transition: .5s ease-in-out;
    color: $vanilla;
    border-bottom: 2px $vanilla solid;
    transition: .4s ease-in-out;
}

.navbar__link--vuejs a:hover {
    color: $vue;
    transition: .5s ease-in-out;
    color: $vue;
    border-bottom: 2px $vue solid;
    transition: .4s ease-in-out;
}
 